@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root{
 --ff-instrument-serif: 'Instrument Serif', serif;
 --ff-montserrat: 'Montserrat', sans-serif;

}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}



/* global css */
img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn {
  display: inline-block;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  /* customize */
  background-color: #1c2042;
  color: white;
  border: 2px solid #1c2042;
}

.title{
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem auto;
}

.modal{
  width: 30rem;
  min-height: 18rem;
  background-color: #658a8a;
  border-radius: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
}

.modal-header{
  padding: 1rem 0.5rem;
  text-align: center;
  margin: 0.75rem auto;
}

modal-title{
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.modal-body{
  padding: 1rem;

}

.modal-footer{
  padding: 1rem;
  text-align: end;

}

.button-container{
  text-align: center;
}

.btn-open-modal{
 
   margin: auto;
  background-color: #95da40;
  border: 2px solid #95da40;
}

.btn-close-modal{
  background-color: #da1240;
  border: 2px solid #da1240;
}

.close{
  display: none;
}

.open{

  display: block;

}

@media screen and (min-width: 576px) {
}

/* Medium devices (tablets) */

@media (min-width: 768px) {
}

/* Large devices (desktops) */

@media (min-width: 991px) {
}

/* Extra large devices (large desktops) */

@media (min-width: 1200px) {
}
